/* Reset Geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --cor-principal: #1A3C5D;
    --cor-fundo-secundaria:#fff;
    --cor-texto-principal: #ffffff;
    --cor-texto-secundario: #183555;
    --cor-botao-fundo: #F5CA4C;
    --cor-complemento: #2D5D80;
    --cor-items:#f6f6f6;
    --cor-box-shadow:rgba(0,0,0,0.4);
}
.interface {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}

section {
    padding: 80px 10px;
}

div.flex {
    display: flex;
}
address {
    font-size: clamp(1rem, 1vw + 1rem, 1.4rem); 
    font-style: normal;
    padding-left: 30px;
}
/* Tipografia */
h1 {
    font-size: clamp(2.5rem, 3.5vw + 1rem, 3.5rem);
    color: var(--cor-texto-principal);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
    font-weight: 800;
}

h2 {
    color: var(--cor-texto-secundario);
    font-size: clamp(1.5rem, 3.5vw + 1rem, 3rem);
    margin-bottom: 40px;
    font-weight: 700;
}

h3 {
    font-size: clamp(1.2rem, 3.5vw + 1rem, 1.8rem);
    color: var(--cor-principal);
    font-weight: 600;
}

p {
    font-size: clamp(1rem, 1vw + 1rem, 1.4rem); 
    
}

/* Botões */
.btn-primary,
.contact-form button {
    display: inline-block;
    font-size: clamp(.8rem, .5vw + 1rem, 1.2rem);
    padding: 15px 40px;
    background-color: var(--cor-botao-fundo);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    color: var(--cor-texto-secundario);
    text-transform: uppercase;
    border-radius: 5px;
    margin: 30px 0;
    transition: .3s ease;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover,
.contact-form button:hover {
    opacity: .8;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo-secundaria);
    line-height: 1.4;
}
/* Header */
header {
    background-color: var(--cor-principal);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 40px;
}
nav ul a {
    color: var(--cor-texto-principal);
}
nav ul a:hover {
    color: var(--cor-botao-fundo);
}
nav .logo a {
    font-size: clamp(1rem, 1vw + 1rem, 1.6rem);
    color: var(--cor-texto-principal);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* Menu Hamburguer */
.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}
.hamburguer span {
    width: 28px;
    height: 3px;
    background-color: var(--cor-texto-principal);
    border-radius: 2px;
    transition: .3s ease;
}
/*Eslilo  Hero */
section.hero {
    padding: 0;
}
section.hero .flex {
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}
section.hero p {
    color: var(--cor-texto-principal);
}
.hero .img {
    position: relative;
    height: 50vh;
    background: url(../image/edifio-marmoã.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
}
.hero .btn-primary {
    position: relative;
}
/* Descrição */
section.description .flex {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.about {
    width: 100%;
    max-width: 900px;
}
.about .about-text {
    color: var(--cor-texto-principal);
    background-color: var(--cor-texto-secundario);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 80px;
}
.about .about-text h2 {
    color: var(--cor-texto-principal);
}

/* Grid Serviços */
.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px));
    gap: 20px;
}
.service-items {
    border: 1px solid var(--cor-principal);
    border-radius: 5px;
    padding: 15px;
}

/* Compromisso */
.image-compro img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.compro-text {
    margin-top: 30px;
}
/*Estilo diferenciais*/
.differences-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.differences .item {
    padding: 25px;
    border-radius: 10px;
    border-left: 5px solid var(--cor-principal);
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}
.differences .item h3 {
    margin-bottom: 10px;
    color: var(--cor-principal);
    font-weight: bold;
}
/*Estilo portifolio*/
.projects {
    padding: 60px 0;
    background:var(--cor-texto-principal);
}
.grid-projetos {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.projects-item {
    background: var(--cor-items);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    padding-bottom: 20px;
}

.projects-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.projects-item h3 {
    padding: 15px 15px 5px;
    color: var(--cor-principal);
    font-size: 1.2rem;
}
.projects-item .tipo {
    display: block;
    margin: 0 15px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #777;
}
.projects-item p {
    padding: 0 15px;
    font-size: 0.95rem;
    line-height: 1.4;
    color:var(--cor-texto-secundario);
}
/*Estilo estapas trabalho*/
section.etapas {
    background: var(--cor-items);  
    padding: 60px 0;
}
.etapas-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.etapa-item {
    padding: 25px;
    border-radius: 10px;
    border-left: 5px solid var(--cor-principal);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.etapa-item .numero {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--cor-principal);
}

.etapa-item h3 {
    margin: 10px 0 8px;
}
/*Estilo Chamada p/ ação */
.cta {
    background-color: var(--cor-principal);
    color: var(--cor-texto-principal);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    text-align: center;
    padding: 70px 20px;
    margin-top: 60px;
}
.cta h2 {
    color: var(--cor-texto-principal);
}
.cta p {
    margin-bottom: 25px;
}
/*Estilo Certificações*/
.certificacoes h2 {
    text-align: center;
    color: var(--cor-principal);
}
.cert-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.cert-item {
    background: var(--cor-texto-principal);
    color: var(--cor-principal);
    padding: 25px;
    border-radius: 8px;
    border-left: 5px solid var(--cor-complemento);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.cert-item h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}
/* Contato */
section.contact {
    padding-top: 80px;
    border-top: 1px solid var(--cor-principal);   
}
section.contact .interface .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
}
section.contact .flex {
    justify-content: space-between;
}
.contact-form input,
.contact-form textarea {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid var(--cor-principal);
}
.contact-form textarea {
    padding: 50px 15px;
}
.contact-form button {
    padding: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    transition: .3s;
}
.sr-only {
    position: absolute;
    left: -9999px;
}
div.address {
    border-radius: 10px;
    border-left: 5px solid var(--cor-principal);
}
/*Redes Sociais*/
.social-media {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 30px;  
}
.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--cor-principal); 
    color: var(--cor-texto-principal);
    font-size: 1.4rem;
    transition: .3s ease;
}
.social-media a:hover {
    background-color: var(--cor-complemento);
    color: var(--cor-texto-principal);
    transform: translateY(-3px);
}
/* Footer */
footer {
    padding: 10px;
    text-align: center;
    background-color: var(--cor-principal);
}
footer p {
    font-size: .9em;
    padding: 10px 0;
    color: var(--cor-texto-principal);
}
