/*Resete Gerais*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --cor-principal: #1A3C5D;
    --cor-texto-principal: #ffffff;
    --cor-texto-secundario: #183555;
    --cor-botao-fundo: #F5CA4C;
    --cor-complemento: #2D5D80;
}
.interface {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}

section.container {
    margin-bottom: 80px;
}
div.flex {
    display: flex;
}
address {
    font-size: clamp(1rem, 1vw + 1rem, 1.4rem); 
    font-style: normal;
}
h1 {
    font-size:clamp(2.5rem, 3.5vw + 1rem, 3.5rem) ;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7) ;
}
h2 {
    font-size: clamp(1.5rem, 3.5vw + 1rem, 3rem);
    margin-bottom: 20px ;
}
h3 {
    font-size: clamp(1.2rem, 3.5vw + 1rem, 1.8rem);
            
}
p {
    font-size: clamp(1rem, 1vw + 1rem, 1.4rem); 
}


div.btn a {
    display: inline-block;
    font-size: clamp(.8rem, .5vw + 1rem, 1.2rem);
    padding: 10px 40px;
    background-color: var(--cor-botao-fundo);
    color: var(--cor-texto-secundario);
    border-radius: 5px;
    margin: 30px 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-texto-principal);
    background-color:#ffffff;
    line-height: 1.4;
}

/*-----------Estilo Cabeçalho----------- */
header {
    background-color: var(--cor-principal);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 40px;

}

nav ul a {
    color: var(--cor-texto-principal);
}

nav ul a:hover {
    color: var(--cor-botao-fundo);
}

nav div.logo a {
    font-size: clamp(1rem, 1vw + 1rem, 1.6rem);
    color: var(--cor-texto-principal);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*Botão menu Hamburguer*/
.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;

}

.hamburguer span {
    width: 28px;
    height: 3px;
    background-color: var(--cor-texto-principal);
    border-radius: 2px;
    transition: .3s ease;
}
/*Estilo Hero */
section.container div.img {
    height:50vh;
    background: url(../image/Torre\ marmoã.jpg);
    background-size: cover;
    background-position: center ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section.hero div.flex {
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}
/*Estilo descrição*/
section.description .interface {
    background-color: var(--cor-texto-principal);
    color: var(--cor-principal);
    padding:80px  10px;

}
section.description .flex {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.about {
    width: 100%;
    max-width: 900px;
    
}
.about .about-text {
    color: #ffffff;
    background-color:var(--cor-texto-secundario) ;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 30px;
}
.service-items {
    border: 1px solid var(--cor-principal);
    border-radius: 5px;
    padding: 10px;
}
/*estilo compromisso*/
.image-compro img {
    width: 100%;
    max-width: 667px;
    height:100%;
    max-height: 800px;
    border-radius: 10px;

}
div.compro-text {
    margin-top: 30px;
}
/*estilo contato*/
section.contact .interface {
    background-color: var(--cor-texto-principal);
    color: var(--cor-principal);
}
section.contact .interface .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
}
section.contact .interface .flex {
    justify-content: space-between;
}
section.contact .interface .contact-form input {
    padding: 15px ;
    margin-bottom: 15px;
    border-radius: 5px;
}
section.contact .interface .contact-form textarea {
    padding: 50px 15px;
    border-radius: 5px;

}
section.contact .interface .contact-form button {
    padding: 10px;
    margin-top: 10px;
    background-color:#3498db ;
    border: none;
    border-radius: 5px;
    color: var(--cor-texto-principal);
}

/*Estilo Footer*/
footer {
    padding: 10px;
    text-align: center;
    background-color: var(--cor-principal);
}
footer p {
    font-size: .9em;
    padding: 10px 0;
}
